<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

    <!-- 启用spring注解支持 -->
    <context:annotation-config/>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>/WEB-INF/config/db.properties</value>
            </list>
        </property>
    </bean>

    <bean id="dataSource" class="hand.framework.ebs.util.datasource.OracleAppsDataSource">
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="dbcFile" value="${oracle.dbcFile}"/>
    </bean>

    <!-- mybatis 配置 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:hand/framework/plsql/mapper/CallableMapper.xml"/>
        <property name="plugins">
            <array>
                <bean class="hand.framework.mybatis.pagehelper.PageHelper">
                    <property name="properties">
                        <value>
                            dialect=oracle
                            reasonable=false
                            offsetAsPageNum=true
                            rowBoundsWithCount=true
                            pageSizeZero=false
                        </value>
                    </property>
                </bean>
                <bean class="hand.framework.plsql.CallableHelper">
                </bean>
            </array>
        </property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="**.*/mapper"/>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 事务的传播特性 -->
    <tx:advice id="txadvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED"/>
            <tx:method name="save*" propagation="REQUIRED"/>
            <tx:method name="approve*" propagation="REQUIRED"/>
            <tx:method name="submit*" propagation="REQUIRED"/>
            <tx:method name="saveOrUpdate*" propagation="REQUIRED"/>
            <tx:method name="delete*" propagation="REQUIRED"/>
            <tx:method name="modify*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED"/>
            <tx:method name="call*" propagation="REQUIRED"/>
            <tx:method name="create*" propagation="REQUIRED"/>
            <tx:method name="get*" propagation="REQUIRED" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <!-- 那些类那些方法使用事务 -->
    <aop:config>
        <!-- 只对业务逻辑层实施事务 -->
        <aop:pointcut id="allManagerMethod"
                      expression="execution(* *..service.impl.*.*(..))"/>
        <aop:advisor pointcut-ref="allManagerMethod" advice-ref="txadvice"/>
    </aop:config>

    <bean id="pagingAspectBean" class="hand.framework.mybatis.aop.PagingAspect"/>

    <aop:config>
        <aop:aspect id="pageAspect" ref="pagingAspectBean">
            <aop:pointcut id="daoAspect" expression="execution(* *..dao.impl.*.*Page(..))"/>
            <aop:around method="doAround" pointcut-ref="daoAspect"/>
        </aop:aspect>
    </aop:config>
</beans>
