<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
	
	<!-- 自动扫描 -->
	<context:component-scan base-package="**.*.dao.impl"/>
	<context:component-scan base-package="**.*.service.impl"/>
	
	<bean id="coaService" class="hand.framework.coa.service.impl.COAServiceImpl" autowire="byName"></bean>
	<bean id="coaDao" class="hand.framework.coa.dao.impl.COADaoImpl" autowire="byName"></bean>
	
	<!-- 配置ConcUtils跑EBS请求 -->
	<bean id="concUtils" class="hand.framework.ebs.cp.util.ConcUtils" autowire="byName"></bean>
	
	<!-- 配置LovManager -->
	<bean id="lovManager" class="hand.framework.lov.utils.LovManager" init-method="init">
	  <property name="lovFiles" value="/WEB-INF/lov/,classpath:/hand/fin/framework/lov"></property>
	  <property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="lookupManager" class="hand.framework.lookup.utils.LookupManager" init-method="init">
	  <property name="lookupFiles" value="/WEB-INF/lookup/"></property>
	  <property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="callableExcutor" class="hand.framework.plsql.excutor.impl.GeneralCallExcutor" autowire="byName"/>
	
	<!-- 配置CallableManager -->
	<bean id="callableManager" class="hand.framework.plsql.util.CallableManager" init-method="init">
	   <property name="configFiles" value="/WEB-INF/plsql/"></property>
	   <property name="excutor" ref="callableExcutor"/>
	</bean>
	
	<!-- 配置MessageDirectory -->
	<bean id="messageDirectory" class="hand.framework.ebs.message.MessageDirectory">
	  <property name="dataSource" ref="dataSource"></property>
	</bean>
	
</beans>
